{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        {{- if .imageUrl }}
        <img draggable="false" src="{{ .imageUrl | absURL }}" alt="profile image" 
            style="border-radius: 50%; display: block; margin: 0 auto 10px auto; width: 150px; height: 150px; object-fit: cover;" />
        {{- end }}
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}
